{% extends 'base.html' %}
{% block contenido %}
<div class="container-fluid">
    <div class="row align-items-center mb-3">
        <div class="col text-center">
            <h1>Catálogo de Comunas</h1>
        </div>
        <div class="col-auto">
            <a href="" class="btn btn-success">Nuevo</a>
        </div>
    </div>
    <!-- Campo de búsqueda dinámica -->
    <section class="row mb-3">
        <div class="col-md-12">
            <input type="text" id="search" class="form-control" placeholder="Buscar por nombre de comuna...">
        </div>
    </section>

    <!-- Tabla de resultados -->
    <section class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" style="width: 30%;">Región</th>
                        <th scope="col" style="width: 40%;">Nombre Comuna</th>
                        <th scope="col" style="width: 30%;">Acciones</th>
                    </tr>
                </thead>
                <tbody id="comunas-table">
                    {% for comuna in comunas %}
                    <tr>
                        <td>{{ comuna.region_nombre }}</td>
                        <td>{{ comuna.comuna_nombre }}</td>
                        <td>
                            <a href="{% url 'detalle_comuna' comuna.comuna_id %}" class="btn btn-sm btn-primary">Ver Detalle</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
</div>

<script>
    document.getElementById('search').addEventListener('input', function() {
        const searchQuery = this.value;
        
        // Realiza la solicitud AJAX solo si hay algo que buscar
        fetch(`{% url 'catalogo_comunas_todas' %}?search=${searchQuery}`, {
            headers: {
                'X-Requested-With': 'XMLHttpRequest'
            }
        })
        .then(response => response.json())
        .then(data => {
            const tableBody = document.getElementById('comunas-table');
            tableBody.innerHTML = ''; // Limpiar la tabla
            
            // Genera filas en la tabla para cada resultado de la búsqueda
            data.forEach(comuna => {
                const row = `<tr>
                                <td>${comuna.region_nombre}</td>
                                <td>${comuna.comuna_nombre}</td>
                                <td>
                                    <a href="/detalle_comuna/${comuna.comuna_id}" class="btn btn-sm btn-primary">Ver Detalle</a>
                                </td>
                             </tr>`;
                tableBody.innerHTML += row;
            });
        })
        .catch(error => console.error('Error al realizar la búsqueda:', error));
    });
</script>
{% endblock %}
