{% extends 'base.html' %}
{% block contenido %}
{% load static %}

<div class="container-fluid">
    <div class="d-flex align-items-center justify-content-between">
        <h1>Crear Nueva Comuna</h1>
        <a href="{% url 'catalogo_comunas_todas' %}" class="btn btn-secondary">Volver al Catálogo</a>
    </div>

    <section class="row justify-content-center mt-4">
        <div class="col-md-8">
            <div class="card">
                <img src="{% static 'images/1.png' %}" alt="Foto de la Comuna" class="card-img-top" style="max-height: 250px; width: 50%; object-fit: cover; object-position: top; transform: scale(0.8); display: block; margin-left: auto; margin-right: auto; border-radius: 8px;">

                <div class="card-body">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <!-- Campos del formulario para crear una nueva comuna -->
                        <div class="form-group">
                            <label for="region">Región</label>
                            {{ form.region }}
                        </div>
                        <div class="form-group">
                            <label for="provincia_id">Provincia</label>
                            {{ form.provincia_id }}
                        </div>
                        <div class="form-group">
                            <label for="comuna_nombre">Nombre de la Comuna</label>
                            {{ form.comuna_nombre }}
                        </div>
                        <!-- Campos adicionales para el formulario -->
                        <div class="form-group">
                            <label for="poblacion">Población</label>
                            {{ form.poblacion }}
                        </div>
                        <div class="form-group">
                            <label for="codigo_postal">Código Postal</label>
                            {{ form.codigo_postal }}
                        </div>
                        <div class="form-group">
                            <label for="alcalde">Alcalde</label>
                            {{ form.alcalde }}
                        </div>
                        <div class="form-group">
                            <label for="informacion">Información Adicional</label>
                            {{ form.informacion }}
                        </div>
                        <div class="form-group">
                            <label for="imagen">Imagen</label>
                            {{ form.imagen }}
                        </div>
                        <!-- Botón de Acción -->
                        <div class="form-group d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary">Crear Comuna</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    document.querySelector('form').addEventListener('submit', function(e) {
        e.preventDefault();
        const form = this;
        const formData = new FormData(form);

        fetch(form.action, {
            method: 'POST',
            body: formData,
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                Swal.fire({
                    icon: 'success',
                    title: 'Comuna Creada',
                    text: data.message,
                }).then(() => {
                    window.location.href = "{% url 'catalogo_comunas_todas' %}";
                });
            } else {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: data.message,
                });
            }
        })
        .catch(error => {
            Swal.fire({
                icon: 'error',
                title: 'Error',
                text: 'Ha ocurrido un error. Por favor, intenta nuevamente.',
            });
        });
    });
</script>

{% endblock %}
